.coming-soon{
    text-align: center;
}
body{
    text-align: center;
    @include font();
    color: white;
    button{
        margin-top: 10px;
        background-color: white;
        color: black;
        cursor: pointer;
        padding: 10px 30px;
        border: none;
        border-radius: 10px;
    }
}